
<div class="center jumbotron">
  <h1>New User</h1>
  <%= form_for @user, url: {action: "create"} do |user_form| %>
    <p><%= user_form.label :"Email" %>:
    <%= user_form.text_field :email %></p>
    <p><%= user_form.label :Password %>:
    <%= user_form.password_field :password %></p>
    <p><%= user_form.submit "Créer" %></p>
  <% end %>
</div>
